* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik', sans-serif, 'Times New Roman', Times, serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10% 1fr 1fr 1fr 1fr;
    grid-template-areas:
        'header header header header'
        'aside main main main'
        'aside main main main'
        'aside main main main'
        'footer footer footer footer';
    gap: 5px;
}

/* HEADER CON NAV */
.header {
    display: grid;
    grid-area: header;
    width: 100%;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}


.nav {
    display: grid;
    grid-template-columns: 2fr 6fr;
    align-items: center;
    width: 100%;
    height: auto;
    margin: auto;
}

.nav ul {
    justify-content: end;
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
}

.nav ul li a {
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    padding: 1.5rem;
    font-weight: bold;
    transition: all .5s ease;
}

.nav img {
    width: 130px;
    border-radius: 1em;
    height: auto;
}

.nav ul li a:hover {
    margin: 15px;
    color: #000;
    background: #fff;
}

/* MAIN CON TARJETAS */
.main {
    grid-area: main;
    /* background-color: rgb(191, 195, 201); */
    align-content: center;
}

.centrado {
    display: flex;
    justify-content: center;
}

.glitch {
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;

    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
        0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

    animation: glitch 2500ms infinite;
    text-align: center;
}

.glitch span {
    position: absolute;
    top: 0;
    left: 0;
}

.glitch span:first-child {
    animation: glitch 650ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.025em, -0.0125em);
    opacity: 0.8;
}

.glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
    transform: translate(0.0125em, 0.025em);
    opacity: 0.8;
}

@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
            -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
            -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }

    15% {
        text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
            0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
            -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    50% {
        text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
            0.05em 0 0 rgba(0, 255, 0, 0.75),
            0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    100% {
        text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
            -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
            -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: auto;
}

#titulotaquilleras {
    padding: 50px;
    text-align: center;
}

.card {
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 0.4em;
    background-color: rgb(94, 224, 213);
}


.card p,
h3,
img {
    padding: 20px;
    text-align: justify;
}

.container-card-img {
    display: inline;
}

/* ASIDE */
.aside {
    grid-area: aside;
    background-color: rgb(191, 195, 201);
}

/* FOOTER */
.footer {
    grid-area: footer;
    border: 2px solid;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    padding: 2rem;
}

.bloqueFooter {
    display: flex;
    justify-content: space-around;
}

.tituloFooter {
    font-size: 1.3rem;
    text-align: center;
    padding: 0.8rem;
}

.menuFooter {
    list-style: none;
    text-align: center;
}

.menuFooter a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    line-height: 2rem;
}

.creditoFinal {
    text-align: center;
    padding: 1rem;
}

/* PUNTO DE CORTE PARA TABLET */
@media only screen and (max-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 10% 1fr 1fr 1fr 1fr;
        grid-template-areas:
            'header header header header'
            'main main main main'
            'main main main main'
            'aside aside aside aside'
            'footer footer footer footer';
        gap: 5px;
    }

    .glitch {
        font-size: 3.5rem;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;

        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
            -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
            0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

        animation: glitch 2500ms infinite;
    }



}

/* PUNTO DE CORTE PARA DISPOSITIVOS MOVILES */
@media only screen and (max-width: 400px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 5fr 1fr 15%;
        grid-template-areas:
            'header'
            'main'
            'aside'
            'footer';
        gap: 5px;
    }

    .glitch {
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;

        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
            -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
            0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

        animation: glitch 2500ms infinite;
    }

    .card {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 0.4em;
        background-color: rgb(94, 224, 213);
        overflow: visible;
    }

    .card img {
        width: 300px;
        height: 400px;
    }

    .nav ul {
        justify-content: center;
        list-style: none;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: -o-flex;
        display: block;
    }

    .main {
        grid-area: main;
        /* background-color: rgb(191, 195, 201); */
        align-content: center;
    }

}